/target
*.db
/generator/src/__pycache__
/generated
*.pyc
*.db-wal
*.db-shm
src/database.db-wal
src/exploitdb/
src/exploitdb-main/
src/exploitdb_temp.zip
exploitdb/
exploitdb-main/
exploitdb_temp.zip
/src/0day.today.archive
